.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-items: center;
  padding: 0 1.5rem;
}
.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}
.product:hover {
  box-shadow: 0px 4px 10px 5px var(--secondary-color);
}
.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img img {
  width: 100%;
  max-width: 250px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  flex-grow: 1;
}

.description .header {
  height: 50px;
}

.body {
  margin: 1rem 0;
  margin-bottom: 1.5rem;
}

.body p {
  display: flex;
  align-items: center;
}
.star{
  margin-right: auto;
}
.star svg {
  color: #f9bc00 !important;
}
.star span {
  margin: 0 0.5rem;
}
.body p svg {
  margin-left: 0.2rem;
  color: #a63489;
}

.body,
.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  padding: 0;
}

.price span {
  height: 100%;
}
.price div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.7rem;
}

.price .discount {
  margin: 0 1.5rem;
  text-decoration: line-through;
  opacity: 0.5;
}

.ofPrice {
  font-weight: 700;
}

.select {
  background-color: var(--primary-color);
  color: white;
}

@media screen and (max-width: 576px) {
  .productList {
    grid-template-columns: 1fr;
  }
  .product {
    display: flex;
    flex-direction: row;
    padding: 1rem 0.5rem;
  }
  .description {
    border: none;
    padding-right: 1rem;
    margin-right: 1rem;
  }
  .img img {
    width: 120px;
  }
}

@media screen and (max-width: 370px) {
  .img img {
    width: 80px;
  }
}
