.signUp {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 8rem;
}

.title {
  align-self: flex-start;
}

.title p {
  margin: 1.5rem 0;
}

form {
  width: 100%;
}

.formControl {
  margin: 2rem 0;
}

.nameBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.nameBox div {
  width: 100%;
  margin: 0 0.25rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit {
  color: white;
  background-color: var(--primary-color);
}

@media screen and (max-width: 992px) {
  .signUp {
    width: 100%;
    border-radius: 5px;
  }
}

@media screen and (max-width: 576px) {
  .signUp {
    padding: 2rem;
  }
  .footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .submit {
    margin-bottom: 2rem;
  }
  .nameBox {
    flex-direction: column;
  }
  .nameBox > div {
    margin-bottom: 1rem !important;
  }
  .formControl {
    margin: 1rem 0;
  }
}
