.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-top: 0.6rem;
  padding-bottom: 1.1rem;
  border-bottom: 1px solid var(--gray);
}

.title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.75rem;
}

.nav ul {
  flex-grow: 1;
  display: flex;
  align-items: center;
  background-color: white;
  padding-left: 0.75rem;
}

.nav ul li:not(:last-child) {
  margin-right: 2rem;
}

.nav a {
  text-decoration: none;
}

.activeLink {
  color: var(--primary-color) !important;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray);
  padding: 0.5rem 0.7rem;
  border-radius: 7px;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  border-left: 1px solid var(--gray);
}
.login span {
  padding: 0 0.5rem;
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

.cart .badge {
  position: absolute;
  bottom: -13px;
  left: 12px;
  font-family: sans-serif;
  background-color: var(--primary-color);
  color: white;
  width: 21px;
  height: 21px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
