.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

.navCart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}

.navCart a {
  padding-bottom: 0.3rem;
  align-self: center;
  margin-left: 2rem;
  border-bottom: 4px solid var(--body-color);
}

.title {
  padding: 0 1rem;
  color: var(--gray);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title p {
  opacity: 0.8;
  background-color: var(--gray);
}

.activeLink {
  border-bottom: 4px solid var(--primary-color) !important;
  border-radius: 2px;
}

.activeLink .title {
  color: var(--primary-color);
}

.activeLink .title p {
  background-color: var(--primary-color);
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .cartContainer {
    padding: 0;
  }
  .navCart {
    padding: 0 1.5rem;
    justify-content: space-between;
  }
  .navCart a {
    flex-grow: 1;
    margin: 0;
  }
}
