.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 3rem;
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* cartSummary */
.cartSummary {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  margin-right: 2rem;
  padding: 2rem;
}

.cartSummary div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cartSummary div p {
  text-align: end;
}

.cartSummaryTotal {
  display: flex;
  flex-direction: column;
}

.info {
  margin-top: 1rem;
  margin-bottom: 2.3rem;
  font-size: 1.3rem;
  color: var(--gray);
  align-self: flex-start;
}

.cartSummary a {
  color: white;
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 8px;
  margin-top: 0.5rem;
}

@media screen and (max-width: 992px) {
  .cartSummary {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
    border: 0;
    border-radius: 0;
    border-top: 2px solid var(--secondary-color);
  }
  .cartSummaryTotal {
    border-top: 2px solid var(--secondary-color);
    position: fixed;
    background-color: white;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 !important;
    padding: 0.8rem 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .cartSummaryTotal div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .cartSummaryTotal span {
    color: var(--gray);
    margin-bottom: 0.3rem;
  }

  .cartSummaryTotal a {
    max-width: 300px;
    order: -1;
    margin: 0;
    margin-left: 1rem;
  }
}
