.range input[type="range"] {
  -webkit-appearance: none;
  border: none;
  height: 28px;
  margin: 10px 0;
  width: 100%;
}
.range input[type="range"]:focus {
  outline: none;
}
.range input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--blue);
  border-radius: 5px;
}
.range input[type="range"]::-webkit-slider-thumb {
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: var(--blue);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
.range input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--blue);
}
.range input[type="range"]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--blue);
  border-radius: 5px;
}
.range input[type="range"]::-moz-range-thumb {
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: var(--blue);
  cursor: pointer;
}
.range input[type="range"]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range input[type="range"]::-ms-fill-lower {
  background: var(--blue);
  border-radius: 10px;
}
.range input[type="range"]::-ms-fill-upper {
  background: var(--blue);
  border-radius: 10px;
}
.range input[type="range"]::-ms-thumb {
  margin-top: 1px;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: var(--blue);
  cursor: pointer;
}
.range input[type="range"]:focus::-ms-fill-lower {
  background: var(--blue);
}
.range input[type="range"]:focus::-ms-fill-upper {
  background: var(--blue);
}

.range label {
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

