.login {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 8rem !important;
}

.title {
  align-self: flex-start;
}

.title p {
  margin: 1.5rem 0;
}

.formControl {
  margin: 2rem 0;
}

.formControl a {
  display: block;
  text-align: end;
  font-size: 1.2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit {
  color: white;
  background-color: var(--primary-color);
}

@media screen and (max-width: 992px) {
  .login {
    width: 100%;
    border-radius: 5px;
  }
}

@media screen and (max-width: 576px) {
  .login {
    height: auto;
    padding: 2rem !important;
  }

  .footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .submit {
    margin-bottom: 2rem;
  }
  .remember{
    margin-bottom: 0;
  }
}
