.container {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
}

.icons {
  font-size: 2rem;
  cursor: pointer;
}

.purple {
  color: var(--purple);
}

.gold {
  color: var(--gold);
}
.blue {
  color: var(--blue);
}
