.container {
  width: 100%;
  max-width: 1300px;
  margin: 2rem auto;
}

@media screen and (max-width: 992px) {
  .container {
    margin: 1rem auto;
  }
}

.icons {
  font-size: 2rem;
  cursor: pointer;
}

.purple {
  color: var(--purple);
}

.gold {
  color: var(--gold);
}

.blue {
  color: var(--blue);
}

.badge {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
  color: white;
  width: 22px;
  height: 22px;
  font-size: 1.2rem;
  border-radius: 6px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 0.5rem;
}
