.sort {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sortItem {
  margin-left: 1.5rem;
}

.sortItem input {
  display: none;
}
.sortItem label {
  cursor: pointer;
  color: var(--gray);
  font-size: 1.2rem;
  font-weight: 700;
}

.sortItem input:checked + label {
  color: var(--primary-color);
}

@media screen and (max-width: 992px) {
  .sort {
    display: none;
  }
}
