.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.filter {
  width: 25%;
}

.product {
  width: 75%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 1.5rem;
  padding-bottom: 1rem;
  font-weight: 700;
}

.nav__box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: auto;
  height: 100%;
}

.nav__box p {
  margin-right: 0.4rem;
}

.nav__filter {
  display: none;
}

.nav__sort {
  cursor: default;
}

.nav__sort p {
  margin-left: 1rem;
}
.nav__sort svg {
  transform: rotate(180deg);
  font-size: 1.8rem;
  cursor: default;
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .filter {
    display: none;
  }

  .product {
    width: 100%;
  }
  .nav__filter {
    display: flex;
    margin-left: 2rem;
  }
  
  .nav__filter .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .icon svg {
    font-size: 2.1rem;
  }
  .badge {
    position: absolute;
    top: 1px;
    left: 5px;
    width: 6.5px;
    height: 6.5px;
    border-radius: 50%;
    background-color: var(--primary-color);
  }
  .nav__sort {
    cursor: pointer;
  }

  .sort {
    display: none;
  }

  .toggle {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999 !important;
    background-color: white;
  }
}
