.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.filter {
  width: 25%;
}

.product {
  width: 75%;
}

.slider {
  font-size: 1.4rem;
  display: none;
}

.slider__filter {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: auto;
}

.slider__filter p {
  margin-left: 0.8rem;
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .filter {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: white;
  }
  .toggle {
    display: block;
  }
  .product {
    width: 100%;
  }
  .slider {
    display: block;
    width: 100%;
    padding: 0 1.5rem;
    padding-bottom: 1rem;
  }
  .slider__filter .icon {
    position: relative;
  }
  .badge {
    position: absolute;
    top: 1px;
    left: 5px;
    width: 6.5px;
    height: 6.5px;
    border-radius: 50%;
    background-color: var(--primary-color);
  }
}
